<div>
  <h3><%= pokespot.name %></h2>
  <p>
    <% rating = 0 %>
    <% pokespot.reviews.each do |review| %>
      <% rating += review.rating %>
    <% end %>
    <strong>
      <%= rating.fdiv(pokespot.reviews.count).round(1) %><i class="fas fa-star" id="rating"></i>
    </strong>
    <% if pokespot.reviews.count == 0 %>
        <%= pokespot.reviews.count %> review
    <% else %>
        <%= pokespot.reviews.count %> reviews
    <% end %>
  </p>
  <p><i class="fas fa-map-marker-alt"></i> <%= pokespot.address %></p>
  <p><strong>Pokemon Type:</strong> <%= pokespot.pokemon_type%></p>
  <p><strong>Catching Ratio:</strong> <%= pokespot.scarcity_drop_level%>%</p>
</div>
