<h1>Discover your next Pokespot!</h1>
<div class="cards">
  <% @pokespots.each do |pokespot| %>
  <div class="card-trip">
    <%= link_to pokespot_path(pokespot) do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg", class: "card-cover"%>
      <div class="card-trip-infos">
        <div>
          <h2><%= pokespot.name %></h2>
          <h3>Pokemon type: <%= pokespot.pokemon_type%></h3>
          <p><%= pokespot.description %></p>
        </div>
        <h2 class="card-trip-pricing"><%= pokespot.price %>₽</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    <% end %>
  </div>
  <% end %>
</div>
