<h1><%= @pokespot.name %></h1>
<h2><%= @pokespot.description %></h2>
<p><%= @pokespot.address %></p>
<p><%= @pokespot.price %></p>
<p><%= @pokespot.pokemon_type %></p>
<p><%= @pokespot.scarcity_drop_level %></p>

<%= link_to "Delete Pokespot",
            pokespot_path(@pokespot),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
