<%# Banner %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=asset_path('pokemon-background-dragonite.jpg')%>);">
  <div class="container">
    <h1 id="blue-yellow-color">You want to</h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>

    <%= simple_form_for :search, url: pokespots_path, method: :get do |f| %>
      <%= f.input :address, label: false, placeholder: "Enter your address, we'll look for the nearest Pokespot" %>
      <%# <%= f.submit "search", class: "send_address" %>
    <% end %>
  </div>
</div>

<%# Titles and blocks %>
<div>
  <div id="second-title">
    <h1>Choose your type</h1>
  </div>
  <div class="cards" id="home">
    <%= link_to pokespots_path(filter: "Water") do %>
      <div class="card-category" id="card-type" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dnh5m7rqh/image/upload/v1629291402/water_fjdurr.png)">
        Water
      </div>
    <% end %>

    <%= link_to pokespots_path(filter: "Fire") do %>
      <div class="card-category" id="card-type" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dnh5m7rqh/image/upload/v1629292335/fire_ubhwjw.jpg)">
        Fire
      </div>
    <% end %>

    <%= link_to pokespots_path(filter: "Grass") do %>
      <div class="card-category" id="card-type" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dnh5m7rqh/image/upload/v1629292349/grass_udicok.jpg)">
        Grass
      </div>
    <% end %>

    <%= link_to pokespots_path(filter: "Electric") do %>
      <div class="card-category" id="card-type" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dnh5m7rqh/image/upload/v1629291391/thunder_ogbwso.jpg)">
        Electric
      </div>
    <% end %>
  </div>
</div>



<div>
  <div id="second-title">
    <h1>Become a PokeHost</h1>
  </div>
   <%= link_to new_pokespot_path do %>
    <div class="card-pokehost">
      <div class="card-host" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dnh5m7rqh/image/upload/v1629293780/2595054e-d1d9-4fde-8046-58d51fcb3164_mszhyr.jpg)">
        <div id="text-2">
          Become a host and earn Pokedollars 🤑🤑
        </div>
      </div>
    </div>
  <% end %>
</div>
