<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <div id="card-product-accepted-mybook-flex" >
    <% @bookings.status_Accepted.each do |booking| %>
      <div class="card-product">
        <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/5/51/Pokebola-pokeball-png-0.png"), pokespot_path(booking.pokespot)%>
        <div class="card-product-infos">
          <p><strong>Rented Pokespot : </strong><%= booking.pokespot.name %></p>
          <p><strong>Client name : </strong><%= booking.user.username%></p>
          <p><strong>Start date : </strong><%= booking.start_date %></p>
          <p><strong>End date : </strong><%= booking.end_date %></p>
          <a id="validate-background">Booking accepted by PokeHost</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
