<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <div id="card-product-pending-mybook-flex">
    <% @bookings.status_Pending.each do |booking| %>
      <div class="card-product">
        <% if booking.pokespot.photo.attached? %>
          <%= cl_image_tag booking.pokespot.photo.key %>
        <% end %>
        <div class="card-product-infos">
          <p><strong>Rented Pokespot : </strong><%= booking.pokespot.name %></p>
          <p><strong>Client name : </strong><%= booking.user.username%></p>
          <p><strong>Start date : </strong><%= booking.start_date %></p>
          <p><strong>End date : </strong><%= booking.end_date %></p>
          <a id="pending-background">Pending</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
