<div class="tab-pane fade" id="inprogress" role="tabpanel" aria-labelledby="inprogress-tab">
  <div id="card-product-accepted-mypoke-flex">
    <% @clients_booking.status_Accepted.each do |client_booking| %>
      <div class="card-product">
        <% if client_booking.pokespot.photo.attached? %>
          <%= cl_image_tag client_booking.pokespot.photo.key %>
        <% end %>
        <div class="card-product-infos">
          <p><strong>Rented Pokespot : </strong><%= client_booking.pokespot.name %></p>
          <p><strong>Client username : </strong><%= client_booking.user.username%></p>
          <p><strong>Start date : </strong><%= client_booking.start_date %></p>
          <p><strong>End date : </strong><%= client_booking.end_date %></p>
          <a id="validate-background">You accepted booking</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
