<div class="tab-pane fade" id="inprogress" role="tabpanel" aria-labelledby="inprogress-tab">
  <div id="card-product-accepted-mypoke-flex">
    <% @clients_booking.status_Accepted.each do |client_booking| %>
      <div class="card-product">
        <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/5/51/Pokebola-pokeball-png-0.png"), pokespot_path(client_booking.pokespot) %>
        <div class="card-product-infos">
          <p><strong>Rented Pokespot : </strong><%= client_booking.pokespot.name %></p>
          <p><strong>Client username : </strong><%= client_booking.user.username%></p>
          <p><strong>Start date : </strong><%= client_booking.start_date %></p>
          <p><strong>End date : </strong><%= client_booking.end_date %></p>
          <a id="validate-background">You accepted booking</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
