<div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
  <div id="card-product-pending-mypoke-flex">
    <% @clients_booking.status_Pending.each do |client_booking| %>

      <div class="card-product-reviews">
        <div id="card-flex-acc-dec">
          <% if client_booking.pokespot.photo.attached? %>
            <%= cl_image_tag client_booking.pokespot.photo.key %>
          <% end %>
          <div class="card-product-infos">
            <div>
              <p><strong>Rented Pokespot : </strong><%= client_booking.pokespot.name %></p>
              <p><strong>Client name : </strong><%= client_booking.user.username%></p>
              <p><strong>Start date : </strong><%= client_booking.start_date %></p>
              <p><strong>End date : </strong><%= client_booking.end_date %></p>
            </div>
          </div>
        </div>
        <div id="card-div-acc-dec">
          <ul>
            <li class="btn btn-green-accepted"><%= link_to "Accepted", booking_path(client_booking, status: "Accepted"), method: :patch %></li>
            <li class="btn btn-red-declined"><%= link_to "Delined", booking_path(client_booking), method: :patch %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
